
#searchText{
    width: 40%;

}

#galleryImg{
    width: 100%;
    height: 90%;
    text-align: center;
    align-items: center;
}

#header-gallery{
    text-align: center;
    align-items: center;
}

#album{
   
    display: grid;
    grid-template-columns:auto auto;
    text-align: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#imgFindBtn{
    width: 50px;
    height: 25px;
    background-color: gray;
    color: wheat;
    display: inline;
}

#refreshBtn{
    width: 50px;
    height: 50px;
    position: fixed;
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
}
#refreshBtn:hover{
    cursor: pointer;
    background-color: yellow;
}

#imgFindBtn:hover{
    cursor: pointer;
    background-color: greenyellow;
    color: black;
}

@media only screen and (max-width: 768px){
    #header-gallery{
        font-size: 2rem;
    }
    #refreshBtn{
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }

    
}
