#Homebody{
    align-items: center;
    text-align: center;
}

#logo{
    margin-top:0;
    width: 40%;
    text-align: center;
    height: 40%;
}

#heading{
    font-size: 60px;
    margin-bottom: 10px;
}

#quote{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

