#background{
    background-color: rgb(73, 73, 73);
}

#body{
    margin: 0 auto;
    color: azure;
    padding-bottom: 10px;
    background-color: rgb(148, 147, 147);
    width: 60%;
    height: 80%;
}

#titleBar{
    background-color: rgba(3, 195, 195, 0.544);
    width: 100%;
    margin-top: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    gap: 10%;
    justify-content: center;
    text-align:start;
    
}

#tab{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
}

#tab:hover{
    cursor: pointer;
}


#resultRef{
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 10px;
    
}

#resultBtn{
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: color-mix(in srgb-linear, grey 40%, blue 40%);
    border-radius: 50%;
}

@media only screen and (max-width: 768px){
    #tab{
        font-size: 1rem;
    }
    
}